body{
 background-image: url(WidgetCoLogo.gif);
 background-repeat: no-repeat;
 background-position: center;
}

h1{
    text-align: left;
    font-size: 55px;
    padding-left: 100px;
    padding-right: 50px;
}

h2{
    font-size: 18pt;
    font-style: italic;
}

article{
    text-align: justify;
    text-wrap: left;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

section{
    background-color: #FFFFEE;
    border-width: .5ex .5ex .5ex 5ex;
    border-style: solid;
    border-color: #008001;
    text-align: left;
    padding-left: 10px;
    
}

header{
    border-top: .25ex solid #767676;
    border-bottom: .25ex solid #767676;
    border-right: 5ex solid black;
    text-align: center;
    font-variant: small-caps;
    
    
}

aside{
    float: right;
    text-align: right;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 10px;
    border-right: 5ex solid #444467;
    
}

aside::first-line{
    font-weight: bold;
}

footer{
    text-align: right;
    font-style: italic;
    color: #C5C5C5;
    padding: 20px;
    border-top: .25ex solid #767676;   
}

footer a:link{
    color: #767676;
}

